#picture-area {
    margin: 1em 2em;
    border: 1px solid pink;
    overflow: hidden;
    background-color: #eee; /* as "backdrop" for not-yet-specified (transparent) pixels */
    width: 750px;
}

.tile-row:before, .tile-row:after {
    display: table;
    content: " ";
}

.tile-row:after {
    clear: both;
}

.tile-cell {
    display: block;
    float: left;
}
